@page "/AssignBuddy"
@using System
@using System.Text
@using System.Threading.Tasks
@using System.Diagnostics
<h3>Assign Your Chore Buddy</h3>

<p style=" border-width: 5px;border-style:dashed; border-color: darkmagenta;">Welcome! On this page you can use the button below to generate a random number. This number will be used to
	assign you your chore buddy: a Pokemon. As adults, chores are generally really thankless. Kids get allowances,
	stickers, or can earn points when they do their chores. There's nothing like that for adults.
	My hope with this little addition is that you can enjoy the chores you've assigned for yourself because
	your buddy will be with you every step of the way. Click the button to start your adventure!
</p>
<p>
	<SfButton @onclick="GetPokemonData">Assign My Buddy</SfButton>
</p>

	<br><br>
	<br><br>
	<p>Your buddy is Number:
		<textarea id="Number" cols="6" @bind = "InputValue" @bind:after="UpdateRandomNumber"></textarea>
	</p>
	<br><br>
	<br><br>
@code{

	Random random = new Random();
	public string InputValue { get; set; }
	public string randomNumberValue = "";
	private async Task UpdateRandomNumber()
	{
		await Task.Delay(2);
		randomNumberValue = random.Next(1, 252).ToString();
		InputValue = randomNumberValue;
		return;
	}
	public ChoreBuddy myChoreBuddy;

	public HttpClient httpClient = new HttpClient();

	public async Task GetPokemonData()
	{
		myChoreBuddy = await httpClient.GetFromJsonAsync<ChoreBuddy>(" https://pokeapi.co/api/v2/pokemon/{id or name}/");
	}

}