@page "/"
<PageTitle>Home</PageTitle>
<html>
	<body>

<h1>Home Maintenance Application</h1>

<h3>Please enter a task below.</h3>
<form action="/HouseholdMaintenanceList">
	<label for="addtask">Add a Task</label>
	<input type = "text" id = "addtask" name="addtask"><br><br>
	<button type="button" id = "addtaskbutton" onclick="alert('Task added to Household Maintenance List')">Add task to list</button>
	


<br><br>

<h3>Please select your residence type below.</h3>
<input type="radio" id="homeresidencetype" name="homeresidence" value="House" />
<label for="homeresidence">House</label><br><br>
<input type="radio" id="apartmentresidencetype" name="homeresidence" value="Apartment" />
<label for="homeresidence">Apartment</label><br><br>

<input type = "submit" value="Submit">
</form>


	</body>
	
</html>

