
@page "/"
<PageTitle>Home</PageTitle>
<html>
	<body>

<h1>Home Maintenance Application</h1>

<p>
	Welcome to the Home Maintenance Application. On the taskbar on the left you can use the 
	Chore Form link to submit a new chore to your list. You can provide the name of the chore,
	time spent doing the chore, supplies for the chore, 
	and whether you live in a house or an apartment.
	
	After that, you can click on Household Maintenance List and see what you submitted. 
	You will also see a table of extra chores provided for you 
	that you may not have thought to list out. 

	<br><br>
	<br><br>
 



</p>
</body>
</html>
