@page "/HouseholdMaintenanceList"
@inject IJSRuntime JS
@inject NavigationManager UrlHelper


<PageTitle>Household Maintenance List</PageTitle>

<h3>Home Maintenance Task List</h3>





<br><br>
<br><br>
<br><br>

<h3>Additional Chores For Your Home</h3>
@{
	

}


