@page "/HouseholdMaintenanceList"
@inject IJSRuntime JS

<PageTitle>Household Maintenance List</PageTitle>

<h3>Home Maintenance Task List</h3>


<body>
	<p id = "addtask.innerText"></p>
</body>

<br><br>
<br><br>
<br><br>

<h3>Additional Chores For Your Home</h3>
<table>
</table>



@code{
	
}